body, html {
	height: 100%;
	background: #1c1c1c;
	margin: 0;
	padding: 10px;
}

.loader {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
  -webkit-animation-name: rotation3;
  animation-name: rotation3;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}


.half1 {
	position: absolute;
  top: 0;
  left: 0;
	height: 100px;
	width: 50px;
	overflow: hidden;
}

.half2 {
	position: absolute;
	top: 0;
	left: 50px;
	width: 50px;
	height: 100px;
	overflow: hidden;
}


.rotation2 {
	position: absolute;
	top: 0;
	left: -50px;
	height: 100px;
	width: 100px;
	-webkit-animation-name: rotation2;
	        animation-name: rotation2;
	-webkit-animation-duration: 2.5s;
	        animation-duration: 2.5s;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

.mask2 {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 101px 0 0 101px;
	border: solid #89BFFF;
	border-width: 5px 0px 5px 5px;
	height: 100px;
	width: 50px;
}

.rotation1 {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100px;
	width: 100px;
	-webkit-animation-name: rotation1;
	        animation-name: rotation1;
	-webkit-animation-duration: 2.5s;
	        animation-duration: 2.5s;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

.mask1 {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: absolute;
	top: 0px;
	left: 50px;
	height: 100px;
	width: 50px;
	border-radius: 0 101px 101px 0;
	border: solid #89BFFF;
	border-width: 5px 5px 5px 0px;
}

@-webkit-keyframes rotation3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotation2 {
	0%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	5%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	25% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	50% {
		-webkit-transform: rotate(230deg);
		        transform: rotate(230deg);
	}
	75% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes rotation2 {
	0%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	5%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	25% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	50% {
		-webkit-transform: rotate(230deg);
		        transform: rotate(230deg);
	}
	75% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@-webkit-keyframes rotation1 {
	0%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	5%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	25%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	50%{
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	75% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

@keyframes rotation1 {
	0%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	5%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	25%{
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	50%{
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	75% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	100%{
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
