body, html {
	height: 100%;
	background: #1c1c1c;
	margin: 0;
	padding: 10px;
}

.loader {
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border: 5px solid #89BFFF;
	border-radius: 50%;
	position: relative;

}

.circle {
	position: absolute;
	border-radius: 50%;
	top: -6px;
	left: -6px;
	width: 102px;
	height: 102px;
	-webkit-animation-name: rotate;
	animation-name: rotate;
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

.mask1, .mask2 {
	position: absolute;
	top: -1;
	left: -1;
	background: #1c1c1c;
	-webkit-animation-duration: 1.2s;
	animation-duration: 1.2s;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

.mask1 {
	width: 102px;
	height: 85px;
	-webkit-animation-name: pulseX;
	animation-name: pulseX;
}

.mask2 {
	width: 85px;
	height: 102px;
	-webkit-animation-name: pulseY;
	animation-name: pulseY;
}

@-webkit-keyframes pulseX {
	0% {
		width: 102px;
		height: 102px;
	}
	25% {
		width: 102px;
		height: 50px;
	}
	47% {
		width: 95px;
		height: 19px;
	}
	50% {
		width: 85px;
		height: 19px;
	}
	75%{
		width: 50px;
		height: 19px;
	}
	97%{
		height: 19px;
		width: 19px;
	}
	100% {
		width: 15px;
		height: 15px;
	}
}

@keyframes pulseX {
	0% {
		width: 102px;
		height: 102px;
	}
	25% {
		width: 102px;
		height: 50px;
	}
	47% {
		width: 95px;
		height: 19px;
	}
	50% {
		width: 85px;
		height: 19px;
	}
	75%{
		width: 50px;
		height: 19px;
	}
	97%{
		height: 19px;
		width: 19px;
		1
	}
	100% {
		width: 15px;
		height: 15px;
	}
}

@-webkit-keyframes pulseY {
	0% {
		width: 102px;
		height: 102px;
	}
	25% {
		width: 50px;
		height: 102px;
	}
	47% {
		width: 19px;
		height: 95px;
	}
	50% {
		width: 19px;
		height: 85px;
	}
	75%{
		width: 19px;
		height: 50px;
	}
	97%{
		height: 19px;
		width: 19px;
		1
	}
	100% {
		width: 15px;
		height: 15px;
	}
}

@keyframes pulseY {
	0% {
		width: 102px;
		height: 102px;
	}
	25% {
		width: 50px;
		height: 102px;
	}
	47% {
		width: 19px;
		height: 95px;
	}
	50% {
		width: 19px;
		height: 85px;
	}
	75%{
		width: 19px;
		height: 50px;
	}
	97%{
		height: 19px;
		width: 19px;
		1
	}
	100% {
		width: 15px;
		height: 15px;
	}
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
